<!-- <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <div row>
                              <mat-icon>home</mat-icon>

                    </div>
          </button>

          <h1 class="title">Ecommerce</h1>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
          </button>
</mat-toolbar> -->
<mat-toolbar color="primary">
  <span class="nav-title">Ecommerce Store</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    <h2>Home</h2>
  </button>
  <button mat-button routerLink="/products">
    <h2>Products</h2>
  </button>
</mat-toolbar>
