.home {
  text-align: center;
  padding: 1rem 0.5rem;

  .items {
    text-align: center;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap !important;
    gap: 1rem;

    h2 {
      text-align: right !important;
    }
    
    .header-image {
      background-image: url("https://cdn.icon-icons.com/icons2/1456/PNG/512/mbrishoppingcart_99558.png");
      background-size: cover;
    }
  }

  .card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(6, 6, 6, 0.580);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .img {
      width: 50%;
      height: 50%;
      margin: 1rem 1rem;
      object-fit: contain;
      align-items: center;
      justify-items: center;
    }
    .mat-card-title {
      font-size: 1.5vw;
      margin-bottom: 1rem;
    }

    .product-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      flex-grow: 1;
    }
    .mat-card-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-height: 8vh; 
      font-size: 1.2vw;
      align-items: end;
    }
  }
}
