<div class="container" *ngIf="item">
  <div class="product-card">
    <div class="product-image">
      <img src="{{ item.image }}" alt="" />
    </div>
    <div class="product-details">
      <h2>{{ item.title }}</h2>
      <p>Category: {{ item.category }}</p>
      <hr />
      <p>Description: {{ item.description }}</p>
      <hr>
      <p class="price">Price: {{ "$ " + item.price }}</p>
      <mat-form-field >
        <mat-label>Quantity</mat-label>
        <input matInput [value]="1" placeholder="Enter quantity" type="number" min="1" [(ngModel)]="item.quantity">
      </mat-form-field>
      <button class="button" mat-raised-button (click)="addToCart(item)">
        Add to Cart
      </button>
    </div>
  </div>
  <span *ngIf="isAddingToCart">Adding...</span>
  <span *ngIf="!isAddingToCart">Add to Cart</span>
</div>