<div class="banner">
   <img src="https://cdn.icon-icons.com/icons2/1456/PNG/512/mbrishoppingcart_99558.png" alt=""/>
  <h1>¡Ofertas especiales!</h1>
  <div class="items">
    <mat-card class="card" *ngFor="let item of items">
      <mat-card-header>
        <mat-card-title class="">{{ item.title }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <img class="image" mat-card-image src="{{ item.image }}" alt="" />
      <div class="product-content">
        <mat-card-content>
          <h2>{{ "$" + item.price }}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Ver detalles</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
