.app-container {
          background-size: contain;
          background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fsp.depositphotos.com%2Fstock-photos%2Ffondo-de-tienda.html&psig=AOvVaw1kkdTzdlOs0D2fPjDesVvo&ust=1692407579143000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCOCGptaD5YADFQAAAAAdAAAAABAE");
          background-repeat: no-repeat;
          background: fixed;
          background-color: rgba(108, 235, 235, 0.293);
          font-family: Roboto, "Helvetica Neue", sans-serif;
}
