<!-- HEADER -->
<mat-toolbar>
  <button type="button" mat-icon-button="mat-icon-button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <h1 class="headerTitle">Ecommerce Store</h1>

  <span class="spacer"></span>
  <button type="button" mat-icon-button="mat-icon-button" (click)="sidenav.toggle()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<!-- SIDEBAR LEFT -->
<mat-drawer-container class="container" autosize (backdropClick)="close('backdrop')">
  <mat-drawer #drawer class="sidenav" opened mode="side">
    <mat-nav-list>
      <h3>Menu</h3>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-raised-button routerLink="/inicio">
          <mat-icon>home</mat-icon>
          Home
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-raised-button routerLink="/products">
          <i class="fa-brands fa-product-hunt"></i>
          Products
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <!-- SIDEBAR right CART-->
  <mat-drawer #sidenav (keydown.escape)="close('escape')" position="end" mode="side">
    <div class="cartItems">
      <h3 class="title">Your Cart</h3>
      <hr>
      <ng-container *ngIf="cartItems.length > 0; else emptyCart">
        <div *ngFor="let item of cartItems">
        <div class="product-sidebar">
          <div class="product-image">
            <img src="{{ item.image }}" alt="" />
          </div>
          <div class="product-details">
            <div class="remove-button">
              <span class="remove-icon" (click)="removeItem(item)">X</span>
            </div>
            <h3 class="product-title">{{ item.title }}</h3>
            <p>{{ "$ " + item.price}}</p>
            <label for="quantity">Quantity:
              <input type="number" id="quantity" name="quantity" value="{{item.quantity}}" min="1" [(ngModel)]="item.quantity" (ngModelChange)="updateTotalPrice"/>
            </label>
          </div>
        </div>
      </div>
      <div class="footerSideBar">
          <h2 class="total">Total: {{ totalCartPrice | currency: '$: ' }}</h2>
          <button mat-fab extended color="primary" (click)="processPayment()">
            <i class="fa-regular fa-credit-card"></i>
            Proceed to Payment
          </button>
      </div>
      </ng-container>
      <ng-template #emptyCart>
        <h4>Your cart is empty.</h4>
      </ng-template>
    </div>
  </mat-drawer>

  <!-- Presentations routers pages -->
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>