.container {
  width: 100%;
  height: 100;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
}
h3 {
  text-align: center;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding: auto;
}
mat-toolbar {
  background-color: rgba(0, 0, 0, 0.575);
  height: auto;
  mat-icon {
    font-size: x-large;
  }
}
.headerTitle {
  font-size: x-large;
  color: rgb(255, 255, 255);
  font-style: "Times New Roman", Times, serif;
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.sidenav {
  padding: 1rem;
  width: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

button {
  margin: 1rem 0rem;
  padding: auto 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: large;
  color: rgb(255, 255, 255);
  size: 3rem;
}

.spacer {
  flex: 1;
}

/* sidebar rigth add-card*/
#sidenav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.cartItems {
  padding: 1rem;
}
.title {
  padding-top: 1rem;
  font-weight: bolder;
}
.total {
  font-size: larger;
  text-align: right;
  padding-top: 1rem;
}

.product-sidebar {
  display: flex;
  height: 180px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;

  .product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .product-details {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .remove-button {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      .remove-icon {
        font-size: 18px;
        cursor: pointer;
      }
    }

    .product-title {
      font-size: large;
      margin-top: 0;
      margin-bottom: 5px;
      max-width: 25vh;
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      text-align: end;
      margin: auto 0;
    }
    label {
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }

    input {
      font-size: 0.8rem;
      padding: 0.2rem;
      width: 40px;
    }
    mat-form-field {
      width: 50%;
      height: 50%;
      margin: 0;
      mat-label {
        display: none;
      }
      input {
        width: 100%;
      }
    }
  }
  .footerSideBar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      margin-left: auto;
    }
  }
}
.purchase-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #d0e9c6;
  color: #3c763d;
  text-align: center;
}
